<% provide(:title, 'All businesses') %>
<h1>All businesses</h1>

<%= link_to "Add a Business", new_business_path, class: "btn btn-lg btn-primary" %>

<%= will_paginate %>

<ul class="businesses">
  <%= render @businesses %>
</ul>
